<div class="global">
    <div class="container">
        <div class="header-container">
            ici c'est le titre de la zone
        </div>
        <div class="body-container">
            <h3>titre</h3>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, accusantium fuga
            </p>
        </div>
    </div>

    <div class="container">
        <div class="header-container">
            ici c'est le titre de la zone
        </div>
        <div class="body-container">
            <h3>titre</h3>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, accusantium fuga
            </p>
        </div>
    </div>
    <div class="container">
        <div class="header-container">
            ici c'est le titre de la zone
        </div>
        <div class="body-container">
            <h3>titre</h3>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, accusantium fuga
            </p>
        </div>
    </div>
    <div class="container">
        <div class="header-container">
            ici c'est le titre de la zone
        </div>
        <div class="body-container">
            <h3>titre</h3>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, accusantium fuga
            </p>
        </div>
    </div>
    <div class="container">
        <div class="header-container">
            ici c'est le titre de la zone
        </div>
        <div class="body-container">
            <h3>titre</h3>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore, accusantium fuga
            </p>
        </div>
    </div>

</div>